@import "variables";

@mixin img-one-hundred {
	max-height: 100%;
	max-width: 100%;
}

@mixin page-init {
	background: rgba(0, 0, 0, 0.1);
	min-height: calc(100vh - 64px);
	background: linear-gradient(35deg, rgb(60, 142, 250), white);
}

.nav {
	width: 100vw;;
}

.nav-wrapper {
	width: 1000px;
	margin: 0 auto;
	border: none;
	box-shadow: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@include img-one-hundred();
	
	.nav-wrapper__logo {
		padding: 5px 0;
		height: 100%;
		object-fit: cover;

		@media (max-width: 425px) {
			display: none;
		}
	}

	.nav-wrapper__logo-alt {
		display: none;
		padding: 5px 0;
		height: 100%;
		object-fit: cover;

		@media (max-width: 425px) {
			display: block;
		}
	}

	a {
		width: 64px;
		height: 64px;
		padding: 0;
		margin: 0 5px;
		.nav-wrapper__links_item_icon {
			// padding: 5px 0;
			object-fit: cover;
			height: 64px;

			&:hover {
				background: rgba(0, 0, 0, 0.2);
				transition: background-color .3s;
			}
		}
		
	}
	button {
		border: none;
		line-height: 1;
		padding: 0;
		background: none;

		&:hover {
			cursor: pointer;
			background: rgba(0, 0, 0, 0.2);
			transition: background-color .3s;
		}
	}
	.nav-wrapper__links_item_icon {
		// padding: 5px 0;
		object-fit: cover;
		height: 64px;
	}
	
	
}

.main-wrapper {
	@include page-init();
	
	width: 100vw;
	padding: 0 15px;

	.main-wrapper__hello-user {
		background-color: rgba(0, 0, 0, 0.15);
		max-width: 800px;
		height: 300px;
		margin: 0 auto;
		border-radius: 20px;
		padding-top: 50px;
		text-align: center;
		color: white;
		opacity: 0;
		
		animation: fade 1.5s 100ms forwards;
		
		@keyframes fade {
			0% { opacity: 0; }
			100% { 
				opacity: 1;
				transform: translate(0px, 60%);
			}
		}
	}
}

.news-wrapper {
	@include page-init();
	width: 100vw;
	padding-top: 15px;

	.news-wrapper__list {
		display: flex;
		flex-flow: wrap;
		justify-content: space-between;
		max-width: 1000px;
		margin: 0 auto;
		padding: 0 15px;

		.news-wrapper__list_block {
			width: 48%;
			min-width: 350px;
			margin: 10px auto;
			min-height: 100px;
			background-color: rgba(255, 255, 255, 0.7);
			padding: 15px;
			border-radius: 20px;

			h3 {
				margin: 0;
				text-align: center;
			}

			@media (max-width: 381px) {
				min-width: 0;
				width: 100%;
			}
		}

		@media (max-width: 381px) {
			// flex-flow:column;
		}
	}
}

.add-post {
	max-width: 970px;
	margin: 0 auto;
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 20px;
	
	.add-post__form {
		.add-post__form_wrapper {
			display: flex;
			flex-direction: column;

			label {
				color: black;
				font-weight: 600;
				font-size: 1rem;
			}
			input {
				&:focus {
					border-color: blue;
					box-shadow: 0 1px 0 0 lightblue;
				}
			}
			.add-post__form_wrapper_title-input {
				width: 50%;
				@media (max-width: 381px) {
					width: 100%;
				}
			}

			.add-post__form_wrapper_text-input {
				width: 80%;
				@media (max-width: 381px) {
					width: 100%;
				}
			}
		}
		.add-post__form_submit-input {
			color: black;
		}
	}
	&.dont-show {
		display: none;
	}
}

.modal-login {
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
	transition: 0.5s;

	&.active {
		opacity: 1;
		pointer-events: all;
	}

	.modal-login__content {
		vertical-align: middle;
		padding: 20px;
		border-radius: 12px;
		background-color: white;
		height: 200px;
		width: 300px;

		.modal-login__content_form {
			text-align: center;
	
			input {
				&:focus {
					border-color: blue;
					box-shadow: 0 1px 0 0 lightblue;
				}
			}

			.modal-login__content_form_error {
				color: red;
				font-size: 0.8em;

				&.invisible {
					display: none;
				}
			}

			button {
				color: black;
			}
			
		}
	}
}

// @media (min-width: 426px) {
// 	.nav-wrapper__logo {
// 		opacity: 1;
// 		pointer-events: all !important;;
// 	}

// 	.nav-wrapper__logo-alt {
// 		display: none;
// 		pointer-events: none !important;;
// 	}
// }

@media only screen and (min-width: 0) {
	.nav-wrapper {
		height: 64px;
	}
}